<style>
.modal-open{overflow:hidden}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;outline:0}.modal-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none}.modal.fade .modal-dialog{transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out;-webkit-transform:translate(0,-25%);transform:translate(0,-25%)}@media screen and (prefers-reduced-motion:reduce){.modal.fade .modal-dialog{transition:none}}.modal.show .modal-dialog{-webkit-transform:translate(0,0);transform:translate(0,0)}.modal-dialog-centered{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;min-height:calc(100% - (.5rem * 2))}.modal-dialog-centered::before{display:block;height:calc(100vh - (.5rem * 2));content:""}.modal-content{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;width:100%;pointer-events:auto;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.2);border-radius:.3rem;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0}.modal-backdrop.show{opacity:.5}.modal-header{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;-ms-flex-pack:justify;justify-content:space-between;padding:1rem;border-bottom:1px solid #e9ecef;border-top-left-radius:.3rem;border-top-right-radius:.3rem}.modal-header .close{padding:1rem;margin:-1rem -1rem -1rem auto}.modal-title{margin-bottom:0;line-height:1.5}.modal-body{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;padding:1rem}.modal-footer{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:end;justify-content:flex-end;padding:1rem;border-top:1px solid #e9ecef}.modal-footer>:not(:first-child){margin-left:.25rem}.modal-footer>:not(:last-child){margin-right:.25rem}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:576px){.modal-dialog{max-width:500px;margin:1.75rem auto}.modal-dialog-centered{min-height:calc(100% - (1.75rem * 2))}.modal-dialog-centered::before{height:calc(100vh - (1.75rem * 2))}.modal-sm{max-width:300px}}@media (min-width:992px){.modal-lg{max-width:800px}}

.carousel{position:relative}.carousel-inner{position:relative;width:100%;overflow:hidden}.carousel-item{position:relative;display:none;-ms-flex-align:center;align-items:center;width:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;perspective:1000px}.carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block;transition:-webkit-transform .6s ease;transition:transform .6s ease;transition:transform .6s ease,-webkit-transform .6s ease}@media screen and (prefers-reduced-motion:reduce){.carousel-item-next,.carousel-item-prev,.carousel-item.active{transition:none}}.carousel-item-next,.carousel-item-prev{position:absolute;top:0}.carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{-webkit-transform:translateX(0);transform:translateX(0)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.active.carousel-item-right,.carousel-item-next{-webkit-transform:translateX(100%);transform:translateX(100%)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.active.carousel-item-right,.carousel-item-next{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.active.carousel-item-left,.carousel-item-prev{-webkit-transform:translateX(-100%);transform:translateX(-100%)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.active.carousel-item-left,.carousel-item-prev{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}.carousel-fade .carousel-item{opacity:0;transition-duration:.6s;transition-property:opacity}.carousel-fade .carousel-item-next.carousel-item-left,.carousel-fade .carousel-item-prev.carousel-item-right,.carousel-fade .carousel-item.active{opacity:1}.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{opacity:0}.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-prev,.carousel-fade .carousel-item-next,.carousel-fade .carousel-item-prev,.carousel-fade .carousel-item.active{-webkit-transform:translateX(0);transform:translateX(0)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-prev,.carousel-fade .carousel-item-next,.carousel-fade .carousel-item-prev,.carousel-fade .carousel-item.active{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;width:15%;color:#fff;text-align:center;opacity:.5}.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}.carousel-control-prev{left:0}.carousel-control-next{right:0}.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}.carousel-control-prev-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}.carousel-control-next-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}.carousel-indicators{position:absolute;right:0;bottom:10px;left:0;z-index:15;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}.carousel-indicators li{position:relative;-ms-flex:0 1 auto;flex:0 1 auto;width:30px;height:3px;margin-right:3px;margin-left:3px;text-indent:-999px;cursor:pointer;background-color:rgba(255,255,255,.5)}.carousel-indicators li::before{position:absolute;top:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}.carousel-indicators li::after{position:absolute;bottom:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}.carousel-indicators .active{background-color:#fff}.carousel-caption{position:absolute;right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center}
</style>

<style>
@-webkit-keyframes float1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-11px, 3px);
  }
  100% {
    transform: translate(14px, 16px);
  }
}

@keyframes float1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-11px, 3px);
  }
  100% {
    transform: translate(14px, 16px);
  }
}

@-webkit-keyframes float2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, -15px);
  }
  100% {
    transform: translate(-24px, 25px);
  }
}

@keyframes float2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, -15px);
  }
  100% {
    transform: translate(-24px, 25px);
  }
}

@-webkit-keyframes float3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(16px, 3px);
  }
  100% {
    transform: translate(18px, -20px);
  }
}

@keyframes float3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(16px, 3px);
  }
  100% {
    transform: translate(18px, -20px);
  }
}

@-webkit-keyframes float4 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-8px, -12px);
  }
  100% {
    transform: translate(0px, -19px);
  }
}

@keyframes float4 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-8px, -12px);
  }
  100% {
    transform: translate(0px, -19px);
  }
}

.process-animation {
  position: relative;
  overflow-x: hidden;
}

.process {
  align-items: center;
  background-color: #141414;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: -220px;
  width: 100%;
}

.process__wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

@-webkit-keyframes iconToggle1 {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  40% {
    opacity: 0;
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}

@keyframes iconToggle1 {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  40% {
    opacity: 0;
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}

@-webkit-keyframes iconToggle2 {
  0% {
    opacity: 1;
    transform: rotate(45deg);
  }
  40% {
    opacity: 0;
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes iconToggle2 {
  0% {
    opacity: 1;
    transform: rotate(45deg);
  }
  40% {
    opacity: 0;
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

.process__trigger {
  align-items: center;
  border: 2px solid #ffb500;
  border-radius: 50%;
  display: flex;
  height: 64px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: all 0.75s ease-in-out, transform 0.2s;
  width: 64px;
  z-index: 1;
}

.process__trigger.is-active {
  height: 200px;
  width: 200px;
}

.process__trigger.is-active .process__trigger-header {
  opacity: 1;
  transition: all 0.45s ease-in-out 0.5s;
  visibility: visible;
}

.process__trigger.is-active .process__trigger-icon {
  -webkit-animation: iconToggle1 1s ease forwards;
          animation: iconToggle1 1s ease forwards;
}

.process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--engineering {
  transform: translate(188px, 49px);
}

.process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--business {
  transform: translate(142px, -67px);
}

.process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--ux {
  transform: translate(-90px, 111px);
}

.process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--research {
  transform: translate(125px, 162px);
}

.process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--brand {
  transform: translate(-96px, -17px);
}

.process__trigger-icon {
  -webkit-animation: iconToggle2 1s ease;
          animation: iconToggle2 1s ease;
  cursor: pointer;
  flex-shrink: 0;
  position: absolute;
}

.process__trigger-header {
  color: #ffb500;
  font: 300 26px 'Nib pro';
  letter-spacing: 0.09px;
  margin: 0;
  opacity: 0;
  position: absolute;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  visibility: hidden;
}

.process__trigger-icon-wrap {
  align-items: center;
  display: flex;
  height: 27px;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out 0.1s;
  width: 27px;
}

.process__trigger-icon-wrap.is-active {
  transform: translateY(40px);
}

.process__ingredient {
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 120px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 1s ease-in-out;
  width: 120px;
  z-index: 1;
}

.process__ingredient--engineering {
  transform: translate(48vw, 60px);
}

.process__ingredient--business {
  transform: translate(22vw, -150px);
}

.process__ingredient--ux {
  transform: translate(-18vw, 190px);
}

.process__ingredient--research {
  transform: translate(30vw, 280px);
}

.process__ingredient--brand {
  transform: translate(-36vw, -20px);
}

.process__ingredient-title {
  color: #fff;
  font: 300 16px 'Nib pro';
  letter-spacing: 0.05px;
}

.process__ingredient-wrap {
  border-radius: 100%;
  height: 200px;
  position: absolute;
  transition: all 1s;
  width: 200px;
}
.process__ingredient-wrap.is-active {
  -webkit-animation: none;
          animation: none;
}
.process__ingredient-wrap--engineering {
  -webkit-animation: float1 5s ease-in-out 0s infinite alternate forwards;
          animation: float1 5s ease-in-out 0s infinite alternate forwards;
}
.process__ingredient-wrap--business {
  -webkit-animation: float2 6s ease-in-out 0.1s infinite alternate forwards;
          animation: float2 6s ease-in-out 0.1s infinite alternate forwards;
}

.process__ingredient-wrap--ux {
  -webkit-animation: float3 5s ease-in-out 0.2s infinite alternate forwards;
          animation: float3 5s ease-in-out 0.2s infinite alternate forwards;
}

.process__ingredient-wrap--research {
  -webkit-animation: float4 6s ease-in-out 0.3s infinite alternate forwards;
          animation: float4 6s ease-in-out 0.3s infinite alternate forwards;
}

.process__ingredient-wrap--brand {
  -webkit-animation: float1 7s ease-in-out 0.4s infinite alternate forwards;
          animation: float1 7s ease-in-out 0.4s infinite alternate forwards;
}

@media (min-width: 768px) {
  .process__trigger.is-active {
    height: 400px;
    width: 400px;
  }
  .process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--engineering {
    transform: translate(379px, 105px);
  }
  .process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--business {
    transform: translate(298px, -95px);
  }
  .process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--ux {
    transform: translate(-142px, 240px);
  }
  .process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--research {
    transform: translate(292px, 303px);
  }
  .process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--brand {
    transform: translate(-167px, 13px);
  }
  .process__trigger-icon-wrap.is-active {
    transform: translateY(60px);
  }
  .process__trigger-header {
    font-size: 40px;
  }
  .process__ingredient-wrap {
    height: 400px;
    width: 400px;
  }
  .process__ingredient {
    height: 200px;
    width: 200px;
  }
  .process__ingredient--engineering {
    transform: translate(53vw, 60px);
  }
  .process__ingredient--business {
    transform: translate(22vw, -170px);
  }
  .process__ingredient--ux {
    transform: translate(-8vw, 260px);
  }
  .process__ingredient--research {
    transform: translate(20vw, 420px);
  }
  .process__ingredient--brand {
    transform: translate(-33vw, -20px);
  }
  .process__ingredient-title {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  .process__trigger.is-active {
    height: 622px;
    width: 622px;
  }
  .process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--engineering {
    transform: translate(590px, 125px);
  }
  .process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--business {
    transform: translate(438px, -155px);
  }
  .process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--ux {
    transform: translate(-210px, 350px);
  }
  .process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--research {
    transform: translate(508px, 431px);
  }
  .process__trigger.is-active ~ .process__ingredient-wrap .process__ingredient--brand {
    transform: translate(-225px, 33px);
  }
  .process__trigger-icon-wrap.is-active {
    transform: translateY(90px);
  }
  .process__trigger-header {
    font-size: 60px;
  }
  .process__ingredient-wrap {
    height: 622px;
    width: 622px;
  }
  .process__ingredient {
    height: 276px;
    width: 276px;
  }
  .process__ingredient--engineering {
    transform: translate(56vw, 60px);
  }
  .process__ingredient--business {
    transform: translate(22vw, -300px);
  }
  .process__ingredient--ux {
    transform: translate(-8vw, 260px);
  }
  .process__ingredient--research {
    transform: translate(20vw, 550px);
  }
  .process__ingredient--brand {
    transform: translate(-33vw, -20px);
  }
  .process__ingredient-title {
    font-size: 32px;
  }
}

</style>
