<style>
.nice-select {
  -webkit-tap-highlight-color: transparent;
  border: none;
  clear: both;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  z-index: 8;
}
.nice-select:after {
  display: none;
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0); 
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none; 
}
.nice-select.disabled:after {
  border-color: #ccc; 
}
.nice-select.wide {
  width: 100%; 
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right; 
}
.nice-select.right .list {
  left: auto;
  right: 0; 
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px; 
}
.nice-select.small:after {
  height: 4px;
  width: 4px; 
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px; 
}
.nice-select .list {
  background-color: #fff;
  color: #000;
  box-shadow: 20px 20px 30px rgba(0,0,0,.25);
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: -180px;
  left: 0;
  max-height: 420px;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  width: 582px;
  z-index: 9; 
}
.nice-select .list:hover .option {
  color: rgba(0,0,0,.3);
}
.nice-select .list .option:hover {
  color: rgba(0,0,0,1);
}
.nice-select .option {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 36px;
  height: 84px;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 22px;
  padding-right: 22px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nice-select .option:first-child {
	display: none;
}
span.current {
	color: #000;
  font-size: 60px;
  line-height: 57px;
}
.nice-select [data-value="First"] {
  background-color: #FF6748;
}
.nice-select [data-value="Second"] {
  background-color: #BBF3FE;
}
.nice-select [data-value="Third"] {
  background-color: #FFB500;
}
.nice-select [data-value="Fourth"] {
  background-color: #DEBDFF;
}
.nice-select [data-value="Fifth"] {
  background-color: #D68557;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}
.no-csspointerevents .nice-select .list {
  display: none;
}
.no-csspointerevents .nice-select.open .list {
  display: block;
}
input[type=text], input[type=email], input[type=tel]{   
  /* Removes innershadow on form fields on iOS */
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
</style>
<style>
  .nav__logos {
    left: 20px !important;
    top: 30px !important;
  }
  .section__header--intro {
    transition: color .5s ease-in-out;
  }
  .section__header--intro.is-active {
    color: #141414;
  }
  .section-form-intro.is-first {
    background-color: #FF6748;
  }
  .section-form-intro.is-second {
    background-color: #BBF3FE;
  }
  .section-form-intro.is-third {
    background-color: #FFB500;
  }
  .section-form-intro.is-fourth {
    background-color: #DEBDFF;
  }
  .section-form-intro.is-fifth {
    background-color: #D68557;
  }
  .nice-select.connect__select.is-first {
    background-color: #e0593e;
  }
  .nice-select.connect__select.is-second {
    background-color: #a4d5de;
  }
  .nice-select.connect__select.is-third {
    background-color: #e09f00;
  }
  .nice-select.connect__select.is-fourth {
    background-color: #c2a6e0;
  }
  .nice-select.connect__select.is-fifth {
    background-color: #bc744b;
  }
  .connect__input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .gallery__item-text {
    font-size: 15px;
    line-height: 21px;
  }
  .connect__input {
    border: none;
    mix-blend-mode: multiply;
  }

  @media (min-width: 375px) {
    .gallery__item-text {
      font-size: 19px;
      line-height: 25px;
    }
  }

  @media (min-width: 480px) {
    .gallery__item-text {
      font-size: 20px;
      line-height: 28px;
    }
  }
  
  @media (min-width: 670px) {
    .gallery__column {
      max-width: 550px;
  }

  @media (min-width: 768px) {
    .nav__logos {
      left: 50px !important;
      top: 40px !important;
    }
  }
</style>
