<link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/translucent.css"/>
<style>
.nice-select {
  -webkit-tap-highlight-color: transparent;
  border: none;
  clear: both;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  z-index: 8;
}
.nice-select:after {
  display: none;
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0); 
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none; 
}
.nice-select.disabled:after {
  border-color: #ccc; 
}
.nice-select.wide {
  width: 100%; 
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right; 
}
.nice-select.right .list {
  left: auto;
  right: 0; 
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px; 
}
.nice-select.small:after {
  height: 4px;
  width: 4px; 
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px; 
}
.nice-select .list {
  background-color: #fff;
  color: #000;
  box-shadow: 20px 20px 30px rgba(0,0,0,.25);
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: -180px;
  left: 0;
  max-height: 420px;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  width: 582px;
  z-index: 9; 
}
.nice-select .list:hover .option {
  color: rgba(0,0,0,.3);
}
.nice-select .list .option:hover {
  color: rgba(0,0,0,1);
}
.nice-select .option {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 36px;
  height: 84px;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 22px;
  padding-right: 22px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nice-select .option:first-child {
	display: none;
}
span.current {
	color: #000;
  font-size: 60px;
  line-height: 57px;
}
.nice-select [data-value="First"] {
  background-color: #FF6748;
}
.nice-select [data-value="Second"] {
  background-color: #BBF3FE;
}
.nice-select [data-value="Third"] {
  background-color: #FFB500;
}
.nice-select [data-value="Fourth"] {
  background-color: #DEBDFF;
}
.nice-select [data-value="Fifth"] {
  background-color: #D68557;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}
.no-csspointerevents .nice-select .list {
  display: none;
}
.no-csspointerevents .nice-select.open .list {
  display: block;
}
input[type=text], input[type=email], input[type=tel]{   
  /* Removes innershadow on form fields on iOS */
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
</style>
<style>
  #canvas-animation {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    visibility: hidden;
    z-index: -1;
  }
  #canvas-animation.is-visible {
    opacity: 1;
    visibility: visible;
  }
  .nav__logos {
    left: 20px !important;
    top: 30px !important;
  }
  .section__header--intro {
    transition: color .5s ease-in-out;
  }
  .section__header--intro.is-active {
    color: #141414;
  }
  .section-form-intro.is-first {
    background-color: #FF6748;
  }
  .section-form-intro.is-second {
    background-color: #BBF3FE;
  }
  .section-form-intro.is-third {
    background-color: #FFB500;
  }
  .section-form-intro.is-fourth {
    background-color: #DEBDFF;
  }
  .section-form-intro.is-fifth {
    background-color: #D68557;
  }
  .nice-select.connect__select.is-first {
    background-color: #e0593e;
  }
  .nice-select.connect__select.is-second {
    background-color: #a4d5de;
  }
  .nice-select.connect__select.is-third {
    background-color: #e09f00;
  }
  .nice-select.connect__select.is-fourth {
    background-color: #c2a6e0;
  }
  .nice-select.connect__select.is-fifth {
    background-color: #bc744b;
  }
  .connect__input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .tippy,
  .u-cursor-large {
    outline: none;
  }
  .tippy-tooltip[data-animatefill] {
    overflow: visible;
  }
  .tippy-backdrop {
    background-color: transparent !important;
    width: auto;
  }
  .tippy-1 {
    color: #ffb500;
  }
  .tippy-2 {
    color: #bd7245;
  }
  .tippy-1,
  .tippy-2 {
    transition: color .5s ease-in-out;
  }
  .tippy-1.is-hidden,
  .tippy-2.is-hidden,
  .section-intro__link.is-hidden {
    border-bottom-color: #141414;
    color: #141414;
  }
  .popover {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .popover__text-link:hover .popover__text {
    text-decoration: underline;
  }
  .popover__text {
    color: #111;
    display: inline-block;
    font: 700 16px/20px "Suisse Int'l";
    margin: 0;
    padding: 0 14px;
    position: relative;
    white-space: nowrap;
  }
  .popover__text::after {
    background-color: #f2b949;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: -1;
  }
  .popover__text--first::after {
    top: -11px;
    width: 289px;
  }
  .popover__text--second::after {
    top: -8px;
    width: 289px;
  }
  .popover__text--third::after {
    top: -8px;
    width: 248px;
  }
  .popover__text--fourth::after {
    top: -8px;
    width: 272px;
  }
  .popover__text--fifth::after {
    top: -6px;
    width: 225px;
  }
  .popover--2 .popover__text::after {
    background-color: #d68557;
  }
  .popover--2 .popover__text--first::after {
    width: 339px;
  }
  .popover--2 .popover__text--second::after {
    width: 316px;
  }
  .popover--2 .popover__text--third::after {
    width: 300px;
  }
  .popover--2 .popover__text--fourth::after {
    width: 330px;
  }
  .popover--2 .popover__text--fifth::after {
    width: 298px;
  }
  .popover--3 .popover__text::after {
    background-color: #ff5a39;
  }
  .popover--3 .popover__text--first::after {
    width: 285px;
  }
  .popover--3 .popover__text--second::after {
    top: -9px;
    width: 327px;
  }
  .popover--3 .popover__text--third::after {
    width: 290px;
  }
  .popover--3 .popover__text--fourth::after {
    top: -9px;
    width: 214px;
  }
  .popover--3 .popover__text--fifth::after {
    top: -7px;
    width: 250px;
  }
  .gallery__item-text {
    font-size: 15px;
    line-height: 21px;
  }
  .connect__input {
    border: none;
    mix-blend-mode: multiply;
  }

  @media (min-width: 375px) {
    .gallery__item-text {
      font-size: 19px;
      line-height: 25px;
    }
  }

  @media (min-width: 480px) {
    .gallery__item-text {
      font-size: 20px;
      line-height: 28px;
    }
  }
  
  @media (min-width: 670px) {
    .gallery__column {
      max-width: 550px;
  }

  @media (min-width: 768px) {
    .nav__logos {
      left: 50px !important;
      top: 40px !important;
    }
    .popover__text {
      font-size: 26px;
      line-height: 33px;
      padding: 0 20px;
    }
    .popover__text::after {
      height: 55px;
    }
    .popover__text--first::after {
      top: -15px;
      width: 463px;
    }
    .popover__text--second::after {
      top: -14px;
      width: 463px;
    }
    .popover__text--third::after {
      top: -11px;
      width: 398px;
    }
    .popover__text--fourth::after {
      top: -10px;
      width: 435px;
    }
    .popover__text--fifth::after {
      top: -7px;
      width: 359px;
    }
    .popover--2 .popover__text--first::after {
      width: 544px;
    }
    .popover--2 .popover__text--second::after {
      width: 506px;
    }
    .popover--2 .popover__text--third::after {
      width: 481px;
    }
    .popover--2 .popover__text--fourth::after {
      width: 530px;
    }
    .popover--2 .popover__text--fifth::after {
      width: 477px;
    }
    .popover--3 .popover__text--first::after {
      width: 457px;
    }
    .popover--3 .popover__text--second::after {
      top: -8px;
      width: 527px;
    }
    .popover--3 .popover__text--third::after {
      width: 466px;
    }
    .popover--3 .popover__text--fourth::after {
      top: -13px;
      width: 341px;
    }
    .popover--3 .popover__text--fifth::after {
      top: -10px;
      width: 400px;
    }
  }
</style>
